body {
    background-color: #021E3F;
    text-align: center;
}

#title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
}

.container {
    display: block;
    width: 50%;
    margin: auto; 
}

.btn {
    width: 200px;
    height: 200px;
    margin: 26.9px;
    display: inline-block;
    border: 9.9px solid black;
    border-radius: 20%;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}